In [1]:
import pandas as pd, math, numpy as np
import sys 
sys.path.append('C:\\Users\\Nuo.Chen\\PycharmProjects\\Imbalance_price_forecast')
from utils.import_packages import *
from data_gathering import *
from features.features import *

# clean power forecast data

## clean multiple forecast for the same period

In [30]:
solar_df = pd.read_excel(weather_folder + '/solar-forecast.xlsx')
solar_df.tail()

,TIMESTAMP_UTC,VENDOR_ID,PERIOD,value,maxvalue,minvalue,CREATED_TIMESTAMP_UTC,COUNTRY_ID
14417,2018-06-20 21:00:00,MKON,H,42.383018,46.5,27.0,2018-06-19 08:25:00,NL
14418,2018-06-20 22:00:00,MKON,H,1.384615,1.8,0.6,2018-06-19 00:27:00,NL
14419,2018-06-20 22:00:00,MKON,H,1.457547,1.8,0.6,2018-06-19 08:25:00,NL
14420,2018-06-20 23:00:00,MKON,H,0.000000,0.0,0.0,2018-06-19 00:27:00,NL
14421,2018-06-20 23:00:00,MKON,H,0.000000,0.0,0.0,2018-06-19 08:25:00,NL

In [29]:
solar_df = pd.read_excel(weather_folder + '/solar-forecast.xlsx')
clean_solar_df = clean_multiple_forecast(solar_df, 'TIMESTAMP_UTC', 'CREATED_TIMESTAMP_UTC')
clean_solar_df.to_excel(weather_folder + '/clean-solar-forecast.xlsx')

wind_df = pd.read_excel(weather_folder + '/wind-forecast.xlsx')
clean_wind_df = clean_multiple_forecast(wind_df, 'TIMESTAMP_UTC', 'CREATED_TIMESTAMP_UTC')
clean_wind_df.to_excel(weather_folder + '/clean-wind-forecast.xlsx')

## change to local timezone

In [31]:
solar_df = pd.read_excel(weather_folder + '/clean-solar-forecast.xlsx')
wind_df = pd.read_excel(weather_folder + '/clean-wind-forecast.xlsx')

In [64]:
import pytz

def convert_2_utc( localtime, timezone = 'Europe/Amsterdam'):
    utc = pytz.utc
    amsterdam = pytz.timezone(timezone)
    
    am_dt = [amsterdam.localize(t) for t in localtime]
    utc_time = [t.astimezone(utc) for t in am_dt]
    
    return utc_time

def convert_2_local( utc_time, timezone = 'Europe/Amsterdam'):
    local_time = [pytz.utc.localize(t) for t in utc_time]
    am_dt = [t.astimezone(timezone) for t in local_time]
    
    return am_dt

In [73]:
solar_df['Datetime'] = convert_2_local( solar_df['TIMESTAMP_UTC'])
wind_df['Datetime'] = convert_2_local( wind_df['TIMESTAMP_UTC'])

## complete the date&time list per PTE for each forecasting data

In [80]:
start_date = datetime(2015,9,23)
end_date = datetime(2018,6,20)
empty_time_df = make_date_time_full_list( start_date,end_date,interval={'minutes':15})
select_forecast_feat = ['DateTime', 'Date', 'PTE', 'value', 'maxvalue', 'minvalue']

complete_solar_df = empty_time_df.merge(clean_solar_df, left_on = 'DateTime', right_on = 'TIMESTAMP_UTC', how = 'left')
complete_solar_df = complete_solar_df[select_forecast_feat]

complete_wind_df = empty_time_df.merge(clean_wind_df, left_on = 'DateTime', right_on = 'TIMESTAMP_UTC', how = 'left')
complete_wind_df = complete_wind_df[select_forecast_feat]

common_col = ['DateTime', 'Date', 'PTE']
complete_solar_df.columns = common_col + ['solar_value', 'solar_maxvalue','solar_minvalue']
complete_wind_df.columns = common_col + ['wind_value', 'wind_maxvalue', 'wind_minvalue']

complete_solar_df.to_excel(weather_folder + '/compete_solar_df.xlsx', index = False)
complete_wind_df.to_excel(weather_folder + '/compete_wind_df.xlsx', index = False)

TypeError: 'module' object is not callable

## merge soloar and wind

In [ ]:
solar_wind_df = complete_solar_df.merge(complete_wind_df, on=['DateTime', 'Date', 'PTE'], how='inner')
solar_wind_df.to_excel(weather_folder + '/complete_solar_wind.xlsx', index = False)

In [30]:
complete_solar_df = pd.read_excel(weather_folder + '/compete_solar_df.xlsx')
complete_wind_df = pd.read_excel(weather_folder + '/compete_wind_df.xlsx')

solar_wind_df = pd.read_excel(weather_folder + '/complete_solar_wind.xlsx')

In [34]:
complete_wind_df.head()

,DateTime,Date,PTE,wind_value,wind_maxvalue,wind_minvalue
0,2015-09-23 00:00:00,2015-09-23,1,108.43,129.7,90.6
1,2015-09-23 00:15:00,2015-09-23,2,NaN,NaN,NaN
2,2015-09-23 00:30:00,2015-09-23,3,NaN,NaN,NaN
3,2015-09-23 00:45:00,2015-09-23,4,NaN,NaN,NaN
4,2015-09-23 01:00:00,2015-09-23,5,119.21,152.9,101.4

In [29]:
def check_duplicate_rows(df, onColumns):
    duplicate = df.duplicated(subset = onColumns)
    return duplicate[duplicate == True]

check_duplicate_rows(complete_wind_df, ['DateTime'])
check_duplicate_rows()

Series([], dtype: bool)

In [ ]:
complete_solar_df = pd.read_excel(weather_folder + '/compete_solar_df.xlsx')
complete_wind_df = pd.read_excel(weather_folder + '/compete_wind_df.xlsx')

solar_wind_df = complete_solar_df.merge(complete_wind_df, on=['DateTime', 'Date', 'PTE'], how='inner')
solar_wind_df.to_excel(weather_folder + '/complete_solar_wind.xlsx', index = False)

## impute

impute strategy:
1. the forecast is per hour, then evenly shared the power output for the four quarters, including value and max-min value
2. dicard data from 2016-12-12 to 2017-12-26
3. impute the other missing dates with previous date data

In [22]:
solar_wind_df = pd.read_excel(weather_folder + '/clean_solar_wind_df.xlsx', index = False)

In [23]:
# for testing
solar_wind_df.loc[3080:3085]

,DateTime,Date,PTE,solar_value,solar_maxvalue,solar_minvalue,wind_value,wind_maxvalue,wind_minvalue
3080,2015-10-25 02:00:00,2015-10-25,9,0.0,0.0,0.0,0.0,0.0,0.0
3081,2015-10-25 02:00:00,2015-10-25,9,0.0,0.0,0.0,0.0,0.0,0.0
3082,2015-10-25 02:00:00,2015-10-25,9,0.0,0.0,0.0,0.0,0.0,0.0
3083,2015-10-25 02:00:00,2015-10-25,9,0.0,0.0,0.0,0.0,0.0,0.0
3084,2015-10-25 02:15:00,2015-10-25,10,NaN,NaN,NaN,NaN,NaN,NaN
3085,2015-10-25 02:30:00,2015-10-25,11,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
solar_wind_df = pd.read_excel(weather_folder + '/clean_solar_wind_df.xlsx', index = False)
cur_index = 0

print('imputing...')

while cur_index < len(solar_wind_df):

    PTE = solar_wind_df.loc[cur_index]['PTE']
    cur_row = solar_wind_df.loc[cur_index][solar_wind_col]

    if PTE % 4 == 1 & cur_row.isnull().any() & cur_index >=96:
        #         cur_date = solar_wind_df.loc[cur_index]['Date']
        #         if cur_date.isoweekday() <= 5:
        #             invalid_missing_dates.append(cur_date)

        # impute missing day
        last_day_data = solar_wind_df.loc[cur_index - 96][solar_wind_col]
        impute_data = last_day_data
        solar_wind_df.loc[cur_index, solar_wind_col] = impute_data

    elif PTE % 4 == 1:
        # impute missing PTE
        impute_data = cur_row

    else:
        raise ValueError('Invalid missing values')

    solar_wind_df.loc[cur_index + 1, solar_wind_col] = impute_data
    solar_wind_df.loc[cur_index + 2, solar_wind_col] = impute_data
    solar_wind_df.loc[cur_index + 3, solar_wind_col] = impute_data
    cur_index += 4

print('finish imputation')

In [82]:
solar_wind_col = ['solar_value', 'solar_maxvalue', 'solar_minvalue', 'wind_value', 'wind_maxvalue', 'wind_minvalue']
solar_wind_df = pd.read_excel(weather_folder + '/complete_solar_wind.xlsx')

solar_wind_df = solar_wind_df[(solar_wind_df['Date']< datetime(2016,12,12))|(solar_wind_df['Date']> datetime(2017,12,26))]
solar_wind_df[ solar_wind_col ]/=4

# deleted missing date in 2017 and averaged the hourly data
solar_wind_df.to_excel(weather_folder + '/clean_solar_wind_df.xlsx', index = False)

TypeError: 'module' object is not callable

In [ ]:
solar_wind_df = pd.read_excel(weather_folder + '/clean_solar_wind_df.xlsx')
solar_wind_col = ['solar_value', 'solar_maxvalue', 'solar_minvalue', 'wind_value', 'wind_maxvalue', 'wind_minvalue']

cur_index = 0

start = time.time()
# invalid_missing_dates = list()


while cur_index < len(solar_wind_df):

    PTE = solar_wind_df.loc[cur_index]['PTE']
    cur_row = solar_wind_df.loc[cur_index][solar_wind_col]
    
    if PTE % 4 == 1 & cur_row.isnull().any():
#         cur_date = solar_wind_df.loc[cur_index]['Date']
#         if cur_date.isoweekday() <= 5:
#             invalid_missing_dates.append(cur_date)

        # impute missing day
        last_day_data = solar_wind_df.loc[cur_index-96][solar_wind_col]
        impute_data = last_day_data
        solar_wind_df.loc[cur_index, solar_wind_col] = impute_data
        
    elif PTE % 4 ==1:
        # impute missing PTE
        impute_data = cur_row

    else:
        raise ValueError('Invalid missing values')
    
    solar_wind_df.loc[cur_index+1, solar_wind_col] = impute_data
    solar_wind_df.loc[cur_index+2, solar_wind_col] = impute_data
    solar_wind_df.loc[cur_index+3, solar_wind_col] = impute_data
    cur_index += 4

    
# print('invalid missing dates(not weekend)')
# print(set(invalid_missing_dates))
end = time.time()

print('takes:{} min'.format((end - start)/60))

In [ ]:
solar_wind_df.to_excel(weather_folder + '/imputed_solar_wind.xlsx', index = False)

# merge day-ahead price data

Note: this column couldn't be used as a feature for imbalance price prediction

Data is merged by the delivery date and PTE

In [2]:
solar_wind_df = pd.read_excel(weather_folder+'/imputed_solar_wind.xlsx')

In [12]:
day_ahead_price_df = pd.read_excel(day_ahead_folder + '/new-DA-price.xlsx')

In [18]:
# ## get average day-ahead-price for each PTE
# DA_price = day_ahead_price_df.groupby(['DeliveryDate','start'], as_index=False)['Value'].mean()
# merged_DA = day_ahead_price_df.merge(DA_price, on = ['DeliveryDate', 'start'],\
#                                                 how = 'inner')
# merged_DA = merged_DA.drop(['Value_x'], axis =1)
# merged_DA = merged_DA.drop_duplicates()
# merged_DA.columns = ['Date', 'PTE', 'DA-price']
# merged_DA['Date'] = merged_DA['Date'].astype('datetime64[ns]')

# merge power data
day_ahead_price_df.columns = ['Date','DA-price', 'PTE']
DA_power_df = day_ahead_price_df.merge(solar_wind_df, on = ['Date', 'PTE'], how = 'inner')
DA_power_df.head()

,Date,DA-price,PTE,DateTime,solar_value,solar_maxvalue,solar_minvalue,wind_value,wind_maxvalue,wind_minvalue
0,2016-01-01,23.86,1,2016-01-01 00:00:00,0.0,0.0,0.0,297.2600,318.175,267.225
1,2016-01-01,23.86,2,2016-01-01 00:15:00,0.0,0.0,0.0,297.2600,318.175,267.225
2,2016-01-01,23.86,3,2016-01-01 00:30:00,0.0,0.0,0.0,297.2600,318.175,267.225
3,2016-01-01,23.86,4,2016-01-01 00:45:00,0.0,0.0,0.0,297.2600,318.175,267.225
4,2016-01-01,22.39,5,2016-01-01 01:00:00,0.0,0.0,0.0,281.0725,299.825,259.450

In [21]:
DA_power_df.to_excel(data_folder_path + '/temp/day_ahead_merge_power.xlsx', index = False)

# merge imbalance price

In [22]:
merged_DA_power_df = pd.read_excel(data_folder_path + '/temp/day_ahead_merge_power.xlsx')

In [23]:
imbalance_df = pd.read_csv(data_folder_path + '/imbalance/tennet16to18.csv')

In [24]:
imb_df = imbalance_df[['week', 'Date', 'PTE', \
                       'take_from_system_kWhPTE','feed_into_system_EURMwh',\
                       'purchase_kWhPTE','sell_kWhPTE', 'absolute_kWhPTE']]
imb_df.columns = ['week', 'Date', 'PTE', \
                  'take_from_system_price', 'feed_into_system_price', \
                  'system_purchase_vol', 'system_sell_vol', 'system_absolute_vol']
imb_df['Date'] = imb_df['Date'].astype('datetime64[ns]')

In [25]:
merge_DA_imb_power_df = imb_df.merge(merged_DA_power_df, on = ['Date', 'PTE'],\
                                     how = 'inner')

In [26]:
merge_DA_imb_power_df.to_excel(data_folder_path + '/temp/merged_DA_imb_power_df.xlsx', index = False)

# trade data is unavailable before 2017. no use for now.

In [14]:
merge_DA_imb_power_df.to_excel(data_folder_path + '/final-merged-df.xlsx', index = False)

NameError: name 'merge_DA_imb_power_df' is not defined

# merge demand forecast

In [44]:
position_df = pd.read_excel('../data_gathering/data' +'/position/nordzee-wind-pnl.xlsx', encoding = 'ISO-8859-1')

,DeliveryDate,PERIOD,First_Forecast_Volume,ActualVolumes,Feed_Into,Take_From,DayAheadPrice,MAE,Diff,DayAheadPnL,ImbalanceCost,TotalPnL,Month
0,2018-01-01,1,21694.08426,21777,-57.54,58.62,27.20,0.003807,-82.91574,2.255308,-4.860521,-2.605213,1
1,2018-01-01,2,21694.71485,21155,37.02,37.02,27.20,0.025512,539.71485,-14.680244,19.980244,5.300000,1
2,2018-01-01,3,21695.28868,21046,33.10,33.10,27.20,0.030851,649.28868,-17.660652,21.491455,3.830803,1
3,2018-01-01,4,21695.81087,21754,33.10,33.10,27.20,0.002675,-58.18913,1.582744,-1.926060,-0.343316,1
4,2018-01-01,5,21696.28606,21684,33.09,33.09,27.30,0.000567,12.28606,-0.335409,0.406546,0.071136,1
5,2018-01-01,6,21697.28855,21456,35.19,35.19,27.30,0.011246,241.28855,-6.587177,8.490944,1.903767,1
6,2018-01-01,7,21698.13111,21226,33.56,33.56,27.30,0.022243,472.13111,-12.889179,15.844720,2.955541,1
7,2018-01-01,8,21698.69306,21524,26.09,26.09,27.30,0.008116,174.69306,-4.769121,4.557742,-0.211379,1
8,2018-01-01,9,21698.84228,21747,36.62,36.62,30.10,0.002214,-48.15772,1.449547,-1.763536,-0.313988,1
9,2018-01-01,10,21697.85733,21674,32.45,32.45,30.10,0.001101,23.85733,-0.718106,0.774170,0.056065,1
10,2018-01-01,11,21697.06989,21119,39.54,39.54,30.10,0.027372,578.06989,-17.399904,22.856883,5.456980,1
11,2018-01-01,12,21696.64549,21691,31.03,31.03,30.10,0.000260,5.64549,-0.169929,0.175180,0.005250,1
12,2018-01-01,13,21694.77866,21481,52.62,52.62,20.87,0.009952,213.77866,-4.461561,11.249033,6.787472,1
13,2018-01-01,14,21692.59666,21747,52.62,52.62,20.87,0.002502,-54.40334,1.135398,-2.862704,-1.727306,1
14,2018-01-01,15,21690.47795,21748,34.80,34.80,20.87,0.002645,-57.52205,1.200485,-2.001767,-0.801282,1
15,2018-01-01,16,21686.85192,21752,26.91,26.91,20.87,0.002995,-65.14808,1.359640,-1.753135,-0.393494,1
16,2018-01-01,17,21680.42201,21745,41.79,41.79,25.56,0.002970,-64.57799,1.650613,-2.698714,-1.048101,1
17,2018-01-01,18,21684.31682,21420,36.62,36.62,25.56,0.012340,264.31682,-6.755938,9.679282,2.923344,1
18,2018-01-01,19,21685.88808,21043,32.37,32.37,25.56,0.030551,642.88808,-16.432219,20.810287,4.378068,1
19,2018-01-01,20,21688.45828,21250,36.62,36.62,25.56,0.020633,438.45828,-11.206994,16.056342,4.849349,1
20,2018-01-01,21,21689.88821,21757,32.05,32.05,25.58,0.003085,-67.11179,1.716720,-2.150933,-0.434213,1
21,2018-01-01,22,21693.72490,21761,32.82,32.82,25.58,0.003092,-67.27510,1.720897,-2.207969,-0.487072,1
22,2018-01-01,23,21696.94395,21769,36.62,36.62,25.58,0.003310,-72.05605,1.843194,-2.638693,-0.795499,1
23,2018-01-01,24,21698.02823,21763,40.62,40.62,25.58,0.002985,-64.97177,1.661978,-2.639153,-0.977175,1
24,2018-01-01,25,21698.61773,21752,36.28,36.28,25.81,0.002454,-53.38227,1.377796,-1.936709,-0.558912,1
25,2018-01-01,26,21700.02672,21065,50.14,50.14,25.81,0.030146,635.02672,-16.390040,31.840240,15.450200,1
26,2018-01-01,27,21701.67098,21443,44.17,44.17,25.81,0.012063,258.67098,-6.676298,11.425497,4.749199,1
27,2018-01-01,28,21701.11178,21737,52.28,52.28,25.81,0.001651,-35.88822,0.926275,-1.876236,-0.949961,1
28,2018-01-01,29,21699.60358,21066,32.36,32.36,29.90,0.030077,633.60358,-18.944747,20.503412,1.558665,1
29,2018-01-01,30,21698.35390,20987,43.59,43.59,29.90,0.033895,711.35390,-21.269482,31.007917,9.738435,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14174,2018-06-01,67,1865.71234,1910,26.48,26.48,55.49,0.023187,-44.28766,2.457522,-1.172737,1.284785,6
14175,2018-06-01,68,1847.62411,2312,40.73,40.73,55.49,0.200855,-464.37589,25.768218,-18.914030,6.854188,6
14176,2018-06-01,69,1799.94381,2453,45.54,55.75,69.52,0.266228,-653.05619,45.400466,-36.407883,8.992584,6
14177,2018-06-01,70,1799.94493,2804,54.05,54.05,69.52,0.358080,-1004.05507,69.801908,-54.269177,15.532732,6
14178,2018-06-01,71,1799.94594,3143,54.05,54.05,69.52,0.427316,-1343.05406,93.369118,-72.592072,20.777046,6
14179,2018-06-01,72,1799.94687,3861,54.05,54.05,69.52,0.533813,-2061.05313,143.284414,-111.399922,31.884492,6
14180,2018-06-01,73,1799.94771,3932,176.02,176.02,71.82,0.542231,-2132.05229,153.123995,-375.283844,-222.159849,6
14181,2018-06-01,74,1799.94847,4638,175.02,175.02,71.82,0.611913,-2838.05153,203.828861,-496.715779,-292.886918,6
14182,2018-06-01,75,1865.72028,5197,48.73,48.73,71.82,0.641001,-3331.27972,239.252509,-162.333261,76.919249,6
14183,2018-06-01,76,1865.72092,3362,48.73,48.73,71.82,0.445056,-1496.27908,107.462764,-72.913680,34.549084,6
14184,2018-06-01,77,1934.16758,2339,47.68,47.68,68.51,0.173079,-404.83242,27.735069,-19.302410,8.432659,6
14185,2018-06-01,78,1934.16811,3056,48.73,48.73,68.51,0.367092,-1121.83189,76.856703,-54.666868,22.189835,6
14186,2018-06-01,79,2005.46924,3008,43.03,43.03,68.51,0.333288,-1002.53076,68.683382,-43.138899,25.544484,6
14187,2018-06-01,80,2078.64093,2490,55.84,55.84,68.51,0.165204,-411.35907,28.182210,-22.970290,5.211919,6
14188,2018-06-01,81,2152.17676,2082,48.73,48.73,77.34,0.033706,70.17676,-5.427471,3.419714,-2.007757,6
14189,2018-06-01,82,2224.76394,1083,44.73,44.73,77.34,1.054260,1141.76394,-88.304023,51.071101,-37.232922,6
14190,2018-06-01,83,2296.24877,-46,55.01,55.01,77.34,50.918452,2342.24877,-181.149520,128.847105,-52.302415,6
14191,2018-06-01,84,2433.91217,41,55.01,55.01,77.34,58.363711,2392.91217,-185.067827,131.634098,-53.433729,6
14192,2018-06-01,85,2513.77190,540,46.14,46.14,64.09,3.655133,1973.77190,-126.499041,91.069835,-35.429206,6
14193,2018-06-01,86,2367.63796,917,42.32,42.32,64.09,1.581939,1450.63796,-92.971387,61.390998,-31.580388,6
14194,2018-06-01,87,2296.24981,1019,40.73,40.73,64.09,1.253435,1277.24981,-81.858940,52.022385,-29.836556,6
14195,2018-06-01,88,2152.17869,1736,42.32,42.32,64.09,0.239734,416.17869,-26.672892,17.612682,-9.060210,6
14196,2018-06-01,89,2078.64345,3356,36.73,53.84,66.52,0.380619,-1277.35655,84.969758,-68.772877,16.196881,6
14197,2018-06-01,90,1934.17170,2667,54.05,54.05,66.52,0.274776,-732.82830,48.747739,-39.609370,9.138369,6
14198,2018-06-01,91,1799.95466,3335,40.68,40.68,66.52,0.460283,-1535.04534,102.111216,-62.445644,39.665572,6
14199,2018-06-01,92,1675.37445,4147,31.86,31.86,66.52,0.596003,-2471.62555,164.412532,-78.745990,85.666542,6
14200,2018-06-01,93,1555.72033,4448,32.74,32.74,59.91,0.650243,-2892.27967,173.276475,-94.693236,78.583239,6
14201,2018-06-01,94,1320.90511,5572,54.64,54.64,59.91,0.762939,-4251.09489,254.683095,-232.279825,22.403270,6
14202,2018-06-01,95,1098.56941,5598,45.85,45.85,59.91,0.803757,-4499.43059,269.560887,-206.298893,63.261994,6
14203,2018-06-01,96,890.49571,3790,17.75,17.75,59.91,0.765041,-2899.50429,173.709302,-51.466201,122.243101,6

In [15]:
merged_df = pd.read_excel(data_folder_path + '/final-merged-df.xlsx')
demand_df = pd.read_excel(data_folder_path + '/demand/demand-forecast.xlsx')

In [ ]:
final_df = merged_df.merge()